jx:
  secrets:
    adminUser:
      username: todo
      password: todo
    hmacToken: todo
    pipelineUser:
      username: "jenkins-x-labs-bot"
      email: "jenkins-x@googlegroups.com"
      token: todo
