jxBotToken:
  enabled: true
  gitProvider: {{ .Values.jxRequirements.cluster.gitServer }}

jxWebhooks:
  enabled: true

jxPodStatus:
  enabled: false

jxSecrets:
  enabled: false

jxInstall:
  enabled: false